@tailwind base;
@tailwind components;
@tailwind utilities;

th:first-of-type {
  border-top-left-radius: 20px;
}
th:last-of-type {
  border-top-right-radius: 20px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 20px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 20px;
}

dialog {
  outline: none;
  border-radius: 16px;
}
dialog[open] {
  animation: show 1s ease normal;
}
@keyframes show {
  from {
    transform: translateY(-110%);
  }
  to {
    transform: translateY(0%);
  }
}
.dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: none;
}
.dialog[open]::backdrop {
  -webkit-animation: show-backdrop 0.5s ease 0.2s normal;
}

.active-tab {
  background-color: #f5dcab;
}
.main-score {
  position: relative;
}
.main-score::before {
  content: "";
  width: 16px;
  height: 60px;
  background-color: #162b47;
  position: absolute;
  bottom: -12px;
  left: -8px;
  border-radius: 4px;
}
.main-score::after {
  content: "";
  width: 16px;
  height: 60px;
  background-color: #162b47;
  position: absolute;
  bottom: -12px;
  right: -8px;
  border-radius: 4px;
}
